.intro {
  display: block;
  padding-top: var(--gap);
}
.name {
  color: rgb(130, 12, 88);
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  background-color: crimson;
}
.downloadButton{
  padding-top: var(--gap);
}