@import url("../index.css");
.container {
  width: 100%;
  height: 100%;
}
.navbar {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 8rem);
  padding: var(--gap);
  font-weight: normal;
  align-items: center;
  background-color: var(--secondary-color);
  justify-items: center;
}
@media screen and (max-width: 600px){
    .navbar{
      position: absolute;
      width: fit-content;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;
    }
}
a {
  color: var(--primary-text-color);
  text-decoration-line: none;
}

.navbar > div:hover {
  font-weight: bold;
}

.home {
  color: var(--secondary-text-color);
  font-weight: 600;
}

.active {
  font-weight: bold;
  text-decoration-line: none;
}

.component {
  display: grid;
  grid-gap: 2vh;
  align-items: center;
  justify-items: center;
  overflow: auto;
  margin: 3rem 1rem 1rem;
}

.component::-webkit-scrollbar {
  width: 6px;
  background-color: var(--secondary-color);
}
.component::-webkit-scrollbar-thumb {
  background-color: rgb(178, 43, 90);
  border-radius: 1rem;
}
.component::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(41, 34, 34);
  background-color: #ffffff;
  border-radius: 1rem;
}
