@import url("../index.css");
.container {
  width: 100%;
  height: 100%;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  padding: var(--gap);
  font-weight: normal;
  align-items: center;
  background-color: var(--secondary-color);
  justify-items: center;
}

a{
    color: var(--secondary-text-color);
    text-decoration-line: none;
}

.navbar > div:hover {
  font-weight: bold;
}

.home{
    color: var(--secondary-text-color);
    font-weight: 600;
}

.active{
    font-weight: bold;
    text-decoration-line: none;
}