.main {
  display: grid;
  grid-template-rows: 7% auto;
  height: 100vh;
}


@media screen and (max-width: 600px), screen and (max-height: 600px){
  .main{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: none;
  }
}