:root {
  --primary-color: white;
  --secondary-color: #f2b7c2;
  --third-color:rgb(255, 255, 255);
  --gap: 1rem;
  --primary-text-color: rgb(130, 12, 88);
  --secondary-text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: calc(0.6rem + 0.5vw);
  background-color: var(--third-color);
}

h1{
  color: #d24a7e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  height: fit-content;
  width: 50vw;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 2rem;
  color: var(--primary-text-color);
  overflow: hidden;
}

.contact>a{
  color: var(--primary-text-color);
}

.card:hover {
  box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 12px 14px 0px rgb(0 0 0 / 70%);
  -moz-box-shadow: 7px 12px 14px 0px rgb(0 0 0 / 70%);
}

.scrolling {
  display: grid;
  grid-gap: 2rem;
  overflow: auto;
}
.scrolling::-webkit-scrollbar {
  width: 6px;
  background-color: var(--secondary-color);
}
.scrolling::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
}
.scrolling::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(41, 34, 34);
  background-color: #f5f5f5;
  border-radius: 1rem;
}
